@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.sub-title {
  font-weight: 800;
  font-size: 22pt;
  margin-top: -16px;
}

.sub-sub-title {
  font-size: 18pt;
}

.maincont {
  height: 100vh;
}

.tab-pane {
  padding-top: 10px;
}

.referenceput {
  margin-bottom: 5px;
}

.submitbtn {
  width: 100%;
  text-align: left;
}

.result {
  font-size: 16pt;
}